* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
}

.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #0d192b;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid transparent;
  color: #fff;
}

.logo img {
  width: 100px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

/* Carrossel */
.carousel {
  position: relative;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  background-color: #222;
}

.carousel-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-slide {
  min-width: 100%;
  transition: 0.5s;
}

.carousel-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.cards {
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(310px, auto));
  gap: 15px;
}

.card {
  max-width: 350px;
  padding: 18px;
  border-radius: 18px;
  background-color: #082042;
  color: #f3f3f3;
  margin-bottom: 30px;
}

.mainName {
  font-size: 1.5rem;
  font-weight: 800;
  padding: 15px 0px;
  text-align: center;
}

.imgCard {
  border-radius: 18px;
  height: auto;
  object-fit: cover;
  width: 100%;
}

.titleName {
  text-align: center;
  padding: 10px 0px;
  font-size: 1.5rem;
  font-weight: 600;
}

@media screen and (max-width: 834px) {
  .carousel {
    height: 60vh;
  }  

  .carousel-slide img {
    height: 80%;
  }
}

@media screen and (max-width: 767px) {
  .menu-icon {
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }

  .menu-icon .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0px;
  }

  .nav-links {
    z-index: 100;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #14253d;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    align-items: flex-start;
    padding: 20px;
    justify-content: flex-start;
    visibility: hidden;
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
    overflow-y: auto;
  }

  .nav-links.active {
    visibility: visible;
    transform: translateX(0);
    opacity: 1;
  }

  .nav-links.inactive {
    transform: translateX(100%);
    opacity: 0;
  }

  .nav-links li {
    margin: 20px 0;
  }

  .carousel {
    height: 50vh;
  } 

  .carousel-slide img {
    height: 100%;
  }
}

@media screen and (max-width: 375px) {
  .cards {
   padding: 40px 25px;
  }
}

@keyframes slideDown {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}