*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    text-decoration: none;
}

:root{
    --color-red-dark: #8b0000;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-black-light: #0e0d0d;
}

.container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header{
    width: 100%;
    min-height: 10vh;
    background-color: var(--color-black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 8px;
    gap: 8px 15px; 
}

.imgHeader{
    width: 170px;
    object-fit: cover;
}

.btnHeader{
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.btn{
    background-color: transparent;
    color: var(--color-white);
    border: 2px solid transparent;
    padding: 10px;
    transition: 0.5s;
    font-size: 18px;
    cursor: pointer;
}

.btn:hover{
    border-bottom: 2px solid var(--color-red-dark);
    transition: 0.5s;
    color: var(--color-red-dark);
}

.centerContent{
    min-height: 10vh;
    text-align: center;
    padding-top: 20px;
}

.centerContent h1{
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
}

.contentMain{
    min-height: 100vh;
    width: 100%;
    background-color: var(--color-black-light);
    color: var(--color-white);
}

.contentItem{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    flex: 1 0 auto;
}

.contentMain .contentSection img{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgLeft{
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgRight{
    display: flex;
    align-items: center;
    justify-content: center;
}

.paragraphLeft{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.paragraphRight{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-right: 20px;
}

.footer{
    width: 100%;
    min-height: 40px;
    background-color: var(--color-black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px;
    gap: 8px 15px;
    color: var(--color-white);
}

.ancoraFooter{
    text-decoration: none;
    color: var(--color-white);
}

@media(max-width: 1024px){
    .paragraphAmericaChavez{
        font-size: .8rem;
    }

    .paragraphWong{
        font-size: .8rem;
    }

    .paragraphCarlesXavier{
        font-size: .8rem;
    }

    .paragraphClea{
        font-size: .8rem;
    }
}

@media (max-width: 768px){
    main .contentSection .contentItem p{
        font-size: .7rem;
    }

    .paragraphAmericaChavez{
        padding: 40px;
    }

    .paragraphWong{
        padding: 40px;
    }

    .paragraphCarlesXavier{
        padding: 40px;
    }

    .paragraphClea{
        padding: 40px;
    }
}

@media(max-width: 606px){
    .header{
        justify-content: center;
    }

    .btnHeader{
        flex-wrap: wrap;
    }
}

@media(max-width: 425px){
    main .contentSection .contentItem{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
    }

    .contentMain .contentSection img{
        width: 100%;
    }

    .paragraphRight{
        padding: 0;
    }

    .elizabethOlsen{
        order: -1;
    }

    .wong{
        order: -1;
    }

    .capitaCarter{
        order: -1;
    }

    .srFantastico{
        order: -1;
    }

    .baraoMordo{
        order: -1;
    }

    .clea{
        order: -1;
    }
}

@media(max-width: 386px){
    .footer{
        justify-content: center;
    }
}

@media(max-width: 280px){
    .header{
        font-family: Arial, Helvetica, sans-serif;
    }
}