*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    text-decoration: none;
}

:root{
    --color-red-dark: #8b0000;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-black-light: #0e0d0d;
}

.container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header{
    width: 100%;
    min-height: 40px;
    background-color: var(--color-black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 8px;
    gap: 8px 15px; 
    
}

.imgHeader{
    width: 170px;
    object-fit: cover;
}

.btnHeader{
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.btn{
    background-color: transparent;
    color: var(--color-white);
    border: 2px solid transparent;
    padding: 10px;
    transition: 0.5s;
    font-size: 18px;
    cursor: pointer;
}

.btn:hover{
    border-bottom: 2px solid var(--color-red-dark);
    transition: 0.5s;
    color: var(--color-red-dark);
}

.contentMain{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: var(--color-white);
    background-color: var(--color-black-light);
}

.contentSection{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    flex: 1 0 auto;
}

.paragraphLeft{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.paragraphRight{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.footer{
    width: 100%;
    min-height: 40px;
    background-color: var(--color-black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px;
    gap: 8px 15px;
    color: var(--color-white);
}

.ancoraFooter{
    text-decoration: none;
    color: var(--color-white);
}