*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    text-decoration: none;
}

:root{
    --color-red-dark: #8b0000;
    --color-black: #000000;
    --color-white: #ffffff;
}

.header{
    width: 100%;
    min-height: 40px;
    background-color: var(--color-black);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px;
    gap: 8px 15px; 
}

.imgHeader{
    width: 200px;
    object-fit: cover;
    position: relative;
    right: 15rem;
}

.btnHeader{
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    position: relative;
    right: 400px;
}

.btn{
    background-color: transparent;
    color: var(--color-white);
    border: 2px solid transparent;
    padding: 10px;
    transition: 0.5s;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover{
    border-bottom: 2px solid var(--color-red-dark);
    transition: 0.5s;
    color: var(--color-red-dark);
}

.backgroundGif{
    background-image: url(../src/imagens/background2.gif);
    width: 100%;
    min-height: 90vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.opac{
    width: 100%;
    min-height: 90vh;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
}

.backgroundGifContent{
    color: var(--color-white);
    padding-top: 200px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}



.footer{
    width: 100%;
    min-height: 40px;
    background-color: var(--color-black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px;
    gap: 8px 15px;
    color: var(--color-white);
}

.ancoraFooter{
    text-decoration: none;
    color: var(--color-white);
}

@media(max-width: 477px){
    .header{
        flex-direction: column;
    }
}

@media(max-width: 385px){
    .footer{
        flex-direction: column;
    }
}