*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    text-decoration: none;
}

:root{
    --color-red-dark: #8b0000;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-black-light: #0e0d0d;
}

.container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header{
    width: 100%;
    min-height: 40px;
    background-color: var(--color-black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 8px;
    gap: 8px 15px; 
}

.imgHeader{
    width: 170px;
    object-fit: cover;
}

.btnHeader{
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.btn{
    background-color: transparent;
    color: var(--color-white);
    border: 2px solid transparent;
    padding: 10px;
    transition: 0.5s;
    font-size: 18px;
    cursor: pointer;
}

.btn:hover{
    border-bottom: 2px solid var(--color-red-dark);
    transition: 0.5s;
    color: var(--color-red-dark);
}

.backgroundGif{
    background-image: url(../src/imagens/dr\ estranho\ no\ multiverso.gif);
    width: 100%;
    min-height: 90vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    object-fit: cover; 
}

.opac{
    width: 100%;
    min-height: 90vh;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
}

.backgroundGifContent{
    color: var(--color-white);
    padding-top: 200px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

.footer{
    width: 100%;
    min-height: 40px;
    background-color: var(--color-black);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px;
    gap: 8px 15px;
    color: var(--color-white);
}

@media(max-width: 606px){
    .header{
        justify-content: center;
    }

    .btnHeader{
        flex-wrap: wrap;
    }
}

@media(max-width: 280px){
    .header{
        font-family: Arial, Helvetica, sans-serif;
    }
}